{ZL.Source id="节点栏目信息数据源"/}<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
<script src="/JS/Controls/B_User.js"></script>
</head> 
<body>
{ZL.Label id="全站头部"/}

<div class="video_banner"></div>
<div class="container">
<div class="video_lists">
<div class="video_tit"><h2>学习课堂</h2></div>
<div class="row">
{ZL.Label id="输出视频列表" NodeID="8" ShowNum="4" Class="col-lg-6 col-md-6 col-sm-6 col-xs-12" SynNum="170" /}
<a href="{ZL:GetNodeLinkUrl(14)/}" class="more">MORE<i class="fa fa-angle-right"></i></a>
</div>
</div>
<!--视频列表结束-->

<div class="ktxx_lists">
<div class="ktxx_tit"><h2>课堂收货</h2></div>
<div class="course_box">
<a href="####">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<img src="{$CssDir/}images/ktxx_pic1.png">
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
<h4>如果你是0-3的新</h4>
<p>一线基金经理从机构视角为你全方位剖析
自上而下，从识别大盘运行节奏，强势股预测
主力操纵行为识别，实盘感提升
全方位操盘体系的构建以及及解套训练科目
实现普通投资者向职业操盘手的蜕变</p>
</div>
</div>
</a>
<a href="####">
<div class="row ">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
<h4>如果你偏爱断线操作</h4>
<p>学完这套课程可以轻松识别职业操盘手交易密码
有效辨识机构控盘行为，捕捉市场热点和题材行情
掌握猎庄的实战性技术本领，建立短线盈利模型和操盘体系
擒住1年10倍大牛股，大妖股
让投资1个月赢得50%盈利成为可能</p>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right" style="overflow:hidden;">
<div style="overflow:hidden;"><img src="{$CssDir/}images/ktxx_pic2.png"></div>
</div>
</div>
</a>
<a href="####">
<div class="row ">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<img src="{$CssDir/}images/ktxx_pic3.png">
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
<h4>如果你想转型成为长期炒股的中长期操手</h4>
<p>采用实战的教学方式，财务报表与指标分析
行业研究与专业的上市公式分析
用专业的调研解说中长线的讲解内容
打造有思想深度的投资圈</p>
</div>
</div>
</a>
<a href="####">
<div class="row ">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
<h4>如果你想挖掘具有深度投资价值的上市公司</h4>
<p>学完这套课程可以清晰把握入场买卖时机
通过宏观经济趋势分析、行业和板块轮动节奏把控，上市公司研究市场脉络把握，并运用各种金融工具制定操盘策略建立全局性的投资思维模型</p>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
<div style="overflow:hidden;"><img src="{$CssDir/}images/ktxx_pic4.png"></div>
</div>
</div>
</a>
</div>
</div>
</div>


{ZL.Label id="全站底部"/}

</body>
</html>
<script>
//检测固顶事件
var IO=document.getElementById('home_nav'),Y=IO,H=0,IE6;
IE6=window.ActiveXObject&&!window.XMLHttpRequest;
while(Y){H+=Y.offsetTop;Y=Y.offsetParent};
if(IE6)
    IO.style.cssText="position:absolute;top:expression(this.fix?(document"+
        ".documentElement.scrollTop-(this.javascript||"+H+")):0)";
window.onscroll=function (){
    var d=document,s=Math.max(d.documentElement.scrollTop,document.body.scrollTop);
     if(s>H&&IO.fix||s<=H&&!IO.fix)return;
    if(!IE6)IO.style.position=IO.fix?"":"fixed";        
    IO.fix=!IO.fix;
};
try{document.execCommand("BackgroundImageCache",false,true)}catch(e){};

$(function () {//手机下右侧导航菜单效果
    $('button.navbar-toggle').click(function () {
        $('body').toggleClass('out');
        $('nav.navbar-fixed-top').toggleClass('out');
        if ($('body').hasClass('out')) {
            $(this).focus();
        }
        else {
            $(this).blur();
        }
    });
});
$(document).click(function (e) {
    if (!$(e.target).closest('.navbar-collapse, button.navbar-toggle').length && $('body').hasClass('out')) {
        e.preventDefault();
        $('button.navbar-toggle').trigger('click');
    }
}).keyup(function (e) {
    if (e.keyCode == 27 && $('body').hasClass('out')) {
        $('button.navbar-toggle').trigger('click');
    }
});


var buser = new B_User();//会员ajax登录状态需要结合JS/Controls/B_User.js引用同步生效
buser.IsLogged(function(data,flag){
	if(flag)
	{
		data=JSON.parse(data);
		$(".nav_user>a").html("<i class='fa fa-user'></i> "+data.UserName+" <i class='fa fa-caret-down'></i>");
        $(".nav_user .dropdown-menu li:nth-child(1)").hide();
		$(".nav_user .dropdown-menu li:nth-child(2)").hide();
        $(".nav_user .dropdown-menu li:nth-child(3)").show();
        $(".nav_user .dropdown-menu li:nth-child(4)").show();
	}else{
        $(".nav_user .dropdown-menu li:nth-child(3)").hide();
        $(".nav_user .dropdown-menu li:nth-child(4)").hide();
    }
});
function LogoutFun()
{
	buser.Logout(function(){location=location;});
}

</script>