{ZL.Source id="节点栏目信息数据源"/}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="msapplication-TileColor" content="#1A0066"/>
<meta name="msapplication-TileImage" content="/images/win8_symbol_140x140.png"/>
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteTitle/}</title>
{$MetaKeywords/}
{$MetaDescription/}
{ZL:Boot()/}
<link href="{$CssDir/}global.css?id={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js"></script>
</head> 
<body>
<div class="zt_banner"></div>
<div class="zt_foot">
<div class="container">
<div class="foot_l hidden-xs">
<img src="{$CssDir/}images/zt_footbg3.png" alt="时间订制">
</div>
<div class="zt_foot_c">
<div class="zt_t">
<h3>CCTV证券资讯频道</h3>
<p>时间定势栏目诚意出品</p>
</div>
<img src="{$CssDir/}images/zt_footbg2.jpg" alt="时间定势">
</div>
<div class="zt_fb">
<h4>专业的资讯APP</h4>
<p>各种资讯，免费放送</p>
<p>各种栏目，免费体验</p>
<a href="{ZL:GetNodeLinkUrl(3)/}">点击获得免费体验</a>
</div>
</div>
</div>
<div class="tc_box">
<div class="container">
<h1>题材起爆</h1>
<img src="{$CssDir/}images/tc_pic1.jpg" alt="题材起爆">
</div>
<h2>热门行业 热点题材 详情记录</h2>
</div>
<div class="tc_box">
<div class="container">
<h1>情报特供</h1>
<img src="{$CssDir/}images/qb_pic1.jpg" alt="情报特供" class="qb_pic">
<h2>第一的资讯情报</h2>
</div>
</div>
<div class="tc_box">
<div class="container">
<h1>盘中雷达</h1>
<img src="{$CssDir/}images/ld_pic1.jpg" alt="盘中雷达" class="qb_pic">
<h2>龙头个股 扫描捕捉</h2>
</div>
</div>

<!--客服-->
<div class="kefu hidden-xs">
<ul>
<li><a href="tel:028-62613672"><span>联系我们</span><i class="fa fa-phone"></i></a><div class="clearfix"></div></li>
<li><a href="http://wpa.qq.com/msgrd?v=3&uin=3238203532&site=qq&menu=yes" target="_blank"><span>在线客服</span><i class="fa  fa-qq"></i></a><div class="clearfix"></div></li>
<li class="kefu_wechat"><a href="javascript:;"><span><img src="{$CssDir/}images/Big_Micro.jpg" alt="微信二维码" /></span><i class="fa fa-wechat"></i></a><div class="clearfix"></div></li>
<li><a href="/Guest" target="_blank"><span>留言咨询</span><i class="fa fa-pencil"></i></a><div class="clearfix"></div></li>
</ul>
</div>
</body>
</html>

<script>

$("#nid{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/}").addClass("active")
</script>