{ZL.Source id="节点栏目信息数据源"/}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="msapplication-TileColor" content="#1A0066"/>
<meta name="msapplication-TileImage" content="/images/win8_symbol_140x140.png"/>
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteTitle/}</title>
{$MetaKeywords/}
{$MetaDescription/}
{ZL:Boot()/}
<link href="{$CssDir/}global.css?id={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js"></script>
<style>
.footer { margin-top:0;}
</style>
</head> 
<body>
{ZL.Label id="全站头部"/}
<div class="pro_banner"></div>

<div class="pro_ad">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden-xs">
<div class="mobile_bg"><img src="{$CssDir/}images/pro_mobile.png" alt="股票定势"></div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<div class="pro_adt">
<h2>《股票定势》APP</h2>
<h3>时间定势客户端</h3>
<p>
本应用是由CCTV证券资讯频道《时间定势》栏目研发团队开发的，
以独特的博弈视角深度分析当前市场环境，在实战分析中对趋势定性、
提示市场策略应对、把脉热门评估、精化选股思路、解读买卖交易、凸显风险控制，
并结合东方价值线的大数据挖掘、量化策略选股功能，让您的投资更得心应手！
</p>
<div class="line_l"></div>
<div class="line_d"></div>
</div>
</div>
</div>
</div>
</div>
<!-- pro_ad end! -->

<div class="info_box">
<div class="container">
<div class="info_t"><h2>情报版</h2></div>
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="info_list">
<div class="info_list_c"><img src="{$CssDir/}images/info_icon1.png" alt="情报版" /></div>
<p>把握当天整体策略<br>
洞悉全天行情走势</p>
</div>
</div>
 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="info_list">
<div class="info_list_c"><img src="{$CssDir/}images/info_icon2.png" alt="情报版" /></div>
<p>情报快人一步，策略胜任一筹<br>
全面梳理当天影响大盘的消息
精准把握行情脉搏
</p>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="info_list">
<div class="info_list_c"><img src="{$CssDir/}images/info_icon3.png" alt="情报版" /></div>
<p>热点题材跟踪，精彩投资标的<br>极具参考价值</p>
</div>
</div>
</div>
<div class="info_intro">
<p>
情报快人一步，策略胜人一筹<br>
在每个交易日开盘前，全面梳理当天影响大盘的消息，精准把握行情脉搏，并提供操作策略和投资标的<br>
极具参考价值
</p>
</div>
</div>
</div>
<!-- info_box end! -->

<div class="value_box info_box">
<div class="container">
<div class="info_t"><h2>东方价值版</h2></div>
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="info_list">
<div class="info_list_c"><img src="{$CssDir/}images/value_icon1.png" alt="情报版" /></div>
<p>即使对当天市场进入深入解读<br>
提供交易策略建议与提示风险</p>
</div>
</div>
 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="info_list">
<div class="info_list_c"><img src="{$CssDir/}images/value_icon2.png" alt="情报版" /></div>
<p>把握市场趋势、追踪板块热点<br>
挖掘主题投资机会<br>
剖析题材隐藏的机会点！
</p>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="info_list">
<div class="info_list_c"><img src="{$CssDir/}images/value_icon3.png" alt="情报版" /></div>
<p>以价值投资理念为核心<br>
以独有的核心算法<br>
3000家公司的基本面大数据<br>
通过量化精选内在价值高的个股</p>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="info_list">
<div class="info_list_c"><img src="{$CssDir/}images/value_icon4.png" alt="情报版" /></div>
<p>顺势而为，逆市而休，根据行情<br>
做好仓位把控<br>
系好资金管理的安全带
</p>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="info_list">
<div class="info_list_c"><img src="{$CssDir/}images/value_icon5.png" alt="情报版" /></div>
<p>盘中实时出击，捕捉强势股的买点<br>
智能选股，自动提示<br>
让您选股无忧
</p>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="info_list">
<div class="info_list_c"><img src="{$CssDir/}images/value_icon6.png" alt="情报版" /></div>
<p>把握当天整体策略<br>
洞悉全天行情走势</p>
</div>
</div>
</div>
<div class="info_intro">
<p>
在【情报版】的基础上，提供市场深度研究分析报告，把握各类主题与事件驱动投资机会<br>
其中与东方价值线合作的智能选股、盘中雷达是捕捉牛股的利器，从此选股不再烦恼<br>
还有金融分析师团队提供即时操作策略，让您的投资方向更加明确！
</p>
</div>
</div>
</div>
<!-- value_box end! -->

<div class="core_box info_box">
<div class="container">
<div class="info_t"><h2>核心版</h2></div>
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="info_list">
<div class="info_list_c"><img src="{$CssDir/}images/core_icon1.png" alt="情报版" /></div>
<p>顺势而为，逆市而休，根据行情<br>
做好仓位把控<br>
系好资金管理的安全带
</p>
</div>
</div>
 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="info_list">
<div class="info_list_c"><img src="{$CssDir/}images/core_icon2.png" alt="情报版" /></div>
<p>盘中实时出击，捕捉强势股的买点<br>
智能选股，自动提示<br>
让您选股无忧
</p>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="info_list">
<div class="info_list_c"><img src="{$CssDir/}images/core_icon3.png" alt="情报版" /></div>
<p>热点题材跟踪，精彩投资标的<br>极具参考价值</p>
</div>
</div>
</div>
<div class="info_intro">
<p>
在【东方价值线版】的基础上，提供实时出入池建议，精准把握短线行情，提供中长线暴涨股<br>
由经验丰富的投顾团队后续跟进，提供高品质全方位服务，使您的投资更安心绩
</p>
</div>
</div>
</div>
<!-- core_box end! -->

{ZL.Label id="全站底部"/}
</body>
</html>
<script>
//检测固顶事件
var IO=document.getElementById('home_nav'),Y=IO,H=0,IE6;
IE6=window.ActiveXObject&&!window.XMLHttpRequest;
while(Y){H+=Y.offsetTop;Y=Y.offsetParent};
if(IE6)
    IO.style.cssText="position:absolute;top:expression(this.fix?(document"+
        ".documentElement.scrollTop-(this.javascript||"+H+")):0)";
window.onscroll=function (){
    var d=document,s=Math.max(d.documentElement.scrollTop,document.body.scrollTop);
     if(s>H&&IO.fix||s<=H&&!IO.fix)return;
    if(!IE6)IO.style.position=IO.fix?"":"fixed";        
    IO.fix=!IO.fix;
};
try{document.execCommand("BackgroundImageCache",false,true)}catch(e){};


$(function () {//手机下右侧导航菜单效果
    $('button.navbar-toggle').click(function () {
        $('body').toggleClass('out');
        $('nav.navbar-fixed-top').toggleClass('out');
        if ($('body').hasClass('out')) {
            $(this).focus();
        }
        else {
            $(this).blur();
        }
    });
});
$(document).click(function (e) {
    if (!$(e.target).closest('.navbar-collapse, button.navbar-toggle').length && $('body').hasClass('out')) {
        e.preventDefault();
        $('button.navbar-toggle').trigger('click');
    }
}).keyup(function (e) {
    if (e.keyCode == 27 && $('body').hasClass('out')) {
        $('button.navbar-toggle').trigger('click');
    }
});


$(".kefu_qrcode img").attr("src","/Common/common.ashx?url="+encodeURI(window.location.href));

/*显示搜索框*/
function isSearch(){
    $(".home_search").css("opacity","1").css("z-index","1").css("right","0");
    $(".home_top_nav").fadeOut(200);
    $(".home_search .form-control").focus();
}
/*关闭搜索框*/
function isClose(){
    $(".home_search").css("opacity","0").css("z-index","-1").css("right","-1em");
    $(".home_top_nav").fadeIn(1000);
}

$("#nid{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/}").addClass("active")

</script>