{ZL.Source id="节点栏目信息数据源"/}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="msapplication-TileColor" content="#1A0066"/>
<meta name="msapplication-TileImage" content="/images/win8_symbol_140x140.png"/>
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteTitle/}</title>
{$MetaKeywords/}
{$MetaDescription/}
{ZL:Boot()/}
<link href="{$CssDir/}global.css?id={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js"></script>

</head> 
<body>
<div class="review_banner">
<div class="review_top_t">股市投资者必看 这里有你想要的</div>
</div>
<!-- review_banner end! -->

<div class="review_p">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<span>
<img src="{$CssDir/}images/review_p_bg.jpg" alt="点点投顾">
</span>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<p>
近期股市火爆，牛市特征初显, 贵州茅台触及500元大关，方大炭素翻近四倍，钢铁，煤炭，有色轮动上涨，如果说之前的牛市我们因后知后觉而感慨错过，那么如今我们已经闻到了牛市的气息，会因为什么而感慨呢？——资金！每逢牛市之初，投资者不是股票被套没资金操底，就是因为资金求稳而投向其它项目难以回笼。看着满盘的低价股，看着飞涨的题材股而心动不能行动。白白错过牛市之初最容易赚钱的时机。
<div class="no_ico"></div>
</p>
</div>
</div>
</div>
</div>
<!--review_p end! -->
<div class="container review_column_t">
这次我们绝不错过。这次我们给大家送来一个可<span>获取免费资金</span>的APP<br>让你将你的心动股一网打尽，他就是“点点投顾”
</div>
<div class="review_column1">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<div class="column1_imgbox" style="position:relative; z-index:111;"><img src="{$CssDir/}images/phone.png" alt="APP"></div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<p>这是一款给缺资金的你送资金的APP，我出钱你出策略，资金放大3-8倍，当然收益也放大3-8倍。</p>
<p>两人同样拥有20万资金，同样买一只票，同样赚10%，一个只赚2万，另一个因为从APP中获得8倍资金（20万本金+160万APP资金）便可以赚18万，本金接近翻番。</p>
</div>
</div>
</div>
<div id="triangle-bottomleft" class="hidden-xs"></div>
</div>
<!--review_column1 end! -->

<div class="container review_column2">
<h2>如何得到呢？</h2>
<p>很简单，只需扫描下面二维码注册，下载点点盈投顾APP,了解具体详情亦可扫二维码与我们取得联系</p>
<div><img src="{$CssDir/}images/appCode.jpg" alt="点点盈投顾APP"></div>
</div>
<!-- review_column2 end! -->

<div class="review_column3">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<div class="column3_l">
<p>注册成功并且下载我们APP后<br>点开APP分别点击:</p>
<p style="color:#cc2929;">我——我的账户——充值</p>
<p style="margin-top:3em;">这样你就完全成功拥有了</p>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<div class="column3_r"><img src="{$CssDir/}images/column3_count.jpg" alt="注册App"></div>
</div>
</div>
</div>
</div>
<!-- review_column3 end! -->
<div class="container review_sure">
并且所有客户信用金由宜宾商业银行监管，所有信用金不会转入对方帐户、统一冻结在第三方支付帐户中<br>
盈亏及结算等资金流转均受第三方银行监管，<span style="color:#cc2929;">确保安全</span>
</div>
<div class="review_advance"><div class="container"><img src="{$CssDir/}images/advance.png" alt="四大优势"></div></div>

<div class="company_box">
<div class="container">
<div class="company_t">公司优势</div>
<p>纯信息撮合平台，不做任何担保，不涉配资红线</p>
<p>不接触资金，双方履约信用金银行托管，非第三方支付机构托管</p>
<p>不涉虚盘，多家券商合作保障策略股票实时买入</p>
<p>参考现有互联网金融监管政策及其他法律法规，不设立资金池</p>
<p>金融顾问、跟投方双方缴纳履约信用金</p>
<p>金融顾问因为缴纳履约信用金，为策略的可行性提供保证</p>
<p>跟投者缴纳履约信用金，保障金融顾问策略盈利后的分配</p>
</div>
</div>
<!-- company_box end! -->

<div class="company_box product_box">
<div class="container">
<div class="company_t">产品优势</div>
<div class="product_img"><img src="{$CssDir/}images/product_img.jpg" alt="产品优势"></div>
</div>
</div>
<!-- product_box end! -->

<div class="company_box compete_box">
<div class="container">
<div class="company_t">竞争优势</div>
<div class="table-responsive">
<table class="table table-bordered table-striped table-hover">
<thead>
<tr >
<th>类型</th>
<th>门槛</th>
<th>资金安全度</th>
<th>申请流程</th>
<th>区域限制</th>
<th>风险控制</th>
<th>提现速度</th>
</tr>
</thead>
<tbody>
<tr>
<td>券商融资</td>
<td>50万开户</td>
<td>本人账户</td>
<td>账户有持仓<br>提前一日申请</td>
<td>物理网点<br>有区域限制</td>
<td>人工</td>
<td>T+1</td>
</tr>
<tr>
<td>配资</td>
<td>10万起</td>
<td>他人账户<br>违约跑路风险</td>
<td>提前预约</td>
<td>物理网点<br>有区域限制</td>
<td>人工</td>
<td>T+D</td>
</tr>
<tr>
<td>点点平台</td>
<td>500元起</td>
<td>资金托管银行</td>
<td>随时匹配</td>
<td>互联网<br>无区域限制</td>
<td>自动</td>
<td>T+1 <br>目前T+0</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<!-- compete_box end! -->

<div class="company_box strategy_box">
<div class="container">
<div class="company_t">策略优势</div>
<div class="product_img"><img src="{$CssDir/}images/strategy_img.jpg" alt="策略优势"></div>
<p>模拟策略大赛，跟高手一起吃香喝辣</p>
</div>
</div>
<!-- strategy_box end! -->
<div class="company_box review_foot">
<div class="container">
<p>相信大家也有了初步的了解</p>
<p>心动永远不如行动，牛已经走在路上了，你要眼看着它从你身边走过不留一丝痕迹吗？</p>
<p>想赚钱的朋友，赶紧拿起手机扫描二维码并且加我微信</p>
<p>希望我们一起腾飞！！！</p>
<p>最后祝大家在这一轮牛市能赚得盆满钵满！！！</p>
<div class="product_img" style="margin-top:2em;"><img src="{$CssDir/}images/review_code.jpg" alt="微信公众号"></div>
</div>
</div>
<!-- review_foot end! -->
</body>
</html>
