{ZL.Source id="节点栏目信息数据源"/}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="msapplication-TileColor" content="#1A0066"/>
<meta name="msapplication-TileImage" content="/images/win8_symbol_140x140.png"/>
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteTitle/}</title>
{$MetaKeywords/}
{$MetaDescription/}
{ZL:Boot()/}
<link href="{$CssDir/}global.css?id={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js"></script>
</head> 
<body>
{ZL.Label id="全站头部"/}

<div class="deve_box1">
<div class="container">
<h2>CCTV证券资讯频道<br>
时间定势决策平台</h2>
<div class="box1_t">
<span>研发背景</span>
</div>
<div class="box1_c">
<p>
<strong>从</strong>
从07年以来，上证指数一路下跌，虽然中间有反弹、也有机会，但是普通投资者被边缘化的                  
难以改变；在有了股指期货，融资融券等被郎咸平教授称为三大金融核武器的金融工具，市场变得日趋
复杂和专业，这一趋势更加明显。<i>持仓账户在2012年底创出了5584万的新低之后，2013年再次跌破5500万，目前持仓账户只有5千4百多万户；众多的投资者浑身伤痛，失望的离开了市场。</i>
</p>
</div>
</div>
</div>
<!-- deve_box1 end! -->

<div class="deve_box2 container">
<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
<div class="box2_l">
<span style="padding:0 15px;"><img src="{$CssDir/}images/yafa_ad1.jpg" alt="研发背景"></span>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
<p>
<span>市</span>
场没有机会吗？今年虽然上证
指数不给力，但是成长股的机会比比皆是，翻倍的品种层出不穷；从今年5月以来，围绕着成长股的主线时间定势栏目帮大家发掘出600804,600775,002432,300052,600880，等等一系列大牛股，
所以今年市场不是没有机会，多数投资者亏钱是缺乏把握机会的能力；随着市场专业化程度的提高，投资者收益出现严重的两极分化，今年赚钱的投资者赚的很多，而亏钱的朋友会亏的很多，产生这种分化的原因和根源就是市场的专业化趋势。
</p>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<p>
<span>为</span>
专业与非专业，普通投资者与
机构投资者之间的分化已经越来越明显。面对这种情况与其被动等待，不如主动出击，要改变这种现状首先要从信息分析与收集入手，用信息分析市场是科学，如果你不知道今年的决定今年行情的主
要信息一个是宏观经济信息，一个是流动性信息，那么你对今年大盘的分析将找不到脉络，如果你不知道调结构过程中哪些行业会持续增长这样的信息，那么今年以来的翻倍牛股将与你无缘。
</p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<p>
<span>为</span>
了帮助普通投资者摆脱这种困
境，央视证券资讯频道时间定势栏目受频道委托担负起了这个历史责任，首先从信息入手来帮助伤痕累累的投资者。
从2012年11月开始时间定势栏目正式推出了证券信息产品《决策平台》；产品一推出就受到广大观众的普遍欢迎与关注，因为他不是一款普通的信息产品，他是时间定势研发中心
的几十位证券精英呕心沥血的结晶。我们首先看一下《决策平台》成绩，从2012年11月到2013年1月份的不完全统计，
每天决策平台涉及的涨停板数量平均为6个以上，在众多投资者迷茫困惑的时候，决策平台像一盏指路明灯一样每天把最给力的信息及时奉献给您。
</p>
</div>
</div>
</div>

<div class="deve_box3">
<div class="container">
<h3>三级管理体系  三会讨论制度</h3>
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<p>
<span>在</span>
信息有效收集的基础上，我们利用强大的专业能力给我
们的观众带来了更多更深入的帮助，每日策略告诉你市场的方向的基础上所采取的策略。深度专题及时的把市场中最有潜力的版块和信息变成深度研究，其中成绩斐然。实战股票池丰富了投资者的实战品种，达刚路机、东方财富、九安医疗、中青宝等大牛股均是在实战股票池中经典代表：
</p>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<img src="{$CssDir/}images/box3_bg1.jpg" alt="三级管理体系">
</div>
</div>
<div class="box3_t2">
<p>
<span>组</span>
合股票池将投资带到了新境界，时间定势栏目研发中心用三级管理体系，三会讨论制度的科学体系将30位证券精英人士
科学的整合成一个完整的体系：
</p>
<p><img src="{$CssDir/}images/box3_bg2.png" alt="三级管理体系"></p>
</div>
</div>
</div>

<div class="deve_box4 container">
<h2><img src="{$CssDir/}images/box4_bg1.png" alt="研发背景"></h2>
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 box4_l  hidden-xs ">
<img src="{$CssDir/}images/box4_bg2.jpg" alt="研发背景">
</div>
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
<div class="box4_list">
<p>
<span>1/</span>
不理解信息才是决定市场方向的根本因素；对于市场的分析方法
五花八门，但是其中对市场起到决定性作用是信息，比如：2013年6月25日大盘跌破1949点，主要原因是伯南克关于退出QE的表态；
如果你不能理解这条信息对市场的影响，无论从技术分析还是其他隔离方法均无法准确预测市场调整，无法解释市场为什么大跌。所以用信息分析市场是科学，不用信息分析市场是赌博。时间定势《决策平台》就是在这方面为众多投资者服务。
</p>
</div>
<div class="box4_list">
<p>
<span>2/</span>
机构有内幕信息，普通人在信息层面是不对称的；现在网络、各
种媒体十分发达，对市场和个股有影响的重要信息普通投资者和机构一般都是同一时间得到，而监管部门对内幕信息的打击力度很大，所以现在的市场从信息层收集层面而言机构并不占明显优势，关键在于对重要信息的解读与理解的专业能力；比如2013年5月3日我们从上证报的报道中得知，002432九安医疗可穿戴设备将登陆欧洲，
对此我们马上认识到了其中的重大机会，并在《决策平台》中做专题点评，在时间定势节目中做重点讲解，后期该股走出了波澜壮阔的翻倍行情；所以从信息及时性而言大家都在一个起跑线上，而对于信息的解读才是能不能捕捉翻倍牛股的关键所在，这也是我们正在为投资者所做的工作。
</p>
</div>
<div class="box4_list">
<p>
<span>专</span>
业的能力、博大的胸怀、科学的体系是我们成功的保证，我们的
目标是成为中国一流的证券信息加工商，我们的愿望是帮助每一位投资者在市场中成为财富赢家。《决策平台》就是在这方面为众多投资者服务。
</p>
</div>
</div>
</div>
</div>
{ZL.Label id="全站底部"/}
</body>
</html>

<script>
//检测固顶事件
var IO=document.getElementById('home_nav'),Y=IO,H=0,IE6;
IE6=window.ActiveXObject&&!window.XMLHttpRequest;
while(Y){H+=Y.offsetTop;Y=Y.offsetParent};
if(IE6)
    IO.style.cssText="position:absolute;top:expression(this.fix?(document"+
        ".documentElement.scrollTop-(this.javascript||"+H+")):0)";
window.onscroll=function (){
    var d=document,s=Math.max(d.documentElement.scrollTop,document.body.scrollTop);
     if(s>H&&IO.fix||s<=H&&!IO.fix)return;
    if(!IE6)IO.style.position=IO.fix?"":"fixed";        
    IO.fix=!IO.fix;
};
try{document.execCommand("BackgroundImageCache",false,true)}catch(e){};


$(function () {//手机下右侧导航菜单效果
    $('button.navbar-toggle').click(function () {
        $('body').toggleClass('out');
        $('nav.navbar-fixed-top').toggleClass('out');
        if ($('body').hasClass('out')) {
            $(this).focus();
        }
        else {
            $(this).blur();
        }
    });
});
$(document).click(function (e) {
    if (!$(e.target).closest('.navbar-collapse, button.navbar-toggle').length && $('body').hasClass('out')) {
        e.preventDefault();
        $('button.navbar-toggle').trigger('click');
    }
}).keyup(function (e) {
    if (e.keyCode == 27 && $('body').hasClass('out')) {
        $('button.navbar-toggle').trigger('click');
    }
});


$(".kefu_qrcode img").attr("src","/Common/common.ashx?url="+encodeURI(window.location.href));

/*显示搜索框*/
function isSearch(){
    $(".home_search").css("opacity","1").css("z-index","1").css("right","0");
    $(".home_top_nav").fadeOut(200);
    $(".home_search .form-control").focus();
}
/*关闭搜索框*/
function isClose(){
    $(".home_search").css("opacity","0").css("z-index","-1").css("right","-1em");
    $(".home_top_nav").fadeIn(1000);
}

$("#nid{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/}").addClass("active")
</script>