{ZL.Source id="节点栏目信息数据源"/}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="msapplication-TileColor" content="#1A0066"/>
<meta name="msapplication-TileImage" content="/images/win8_symbol_140x140.png"/>
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteTitle/}</title>
{$MetaKeywords/}
{$MetaDescription/}
{ZL:Boot()/}
<link href="{$CssDir/}global.css?id={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js"></script>
<script src="/JS/Controls/B_User.js"></script>
</head> 
<body>
{ZL.Label id="全站头部"/}
<div class="dkcllm_banner"></div>

<div class="dkcllm_main"> 
<h2><span>核心内容</span></h2>
<div class="container margin_top20">
<div class="row">
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div class="dkcllm_main_t">
<a href="##">
<div class="dkcllm_main_c"><img src="{$CssDir/}images/dkcllm_main_pic1.png" alt="" /></div>
<h3>多空大势分析</h3>
<p>结合全球宏观经济，国内财政和货币政策，以及独创的Smart交易体系对A股大势进行整体研判。</p></a>
</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div class="dkcllm_main_t">
<a href="##">
<div class="dkcllm_main_c"><img src="{$CssDir/}images/dkcllm_main_pic2.png" alt="" /></div>
<h3>多空全球要新闻</h3>
<p>本版块在浩如烟海的信息中，筛选，解析、有助于从信息的表层深入挖掘消息面、政策面内在的机理。</p></a>
</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div class="dkcllm_main_t">
<a href="##">
<div class="dkcllm_main_c"><img src="{$CssDir/}images/dkcllm_main_pic3.png" alt="" /></div>
<h3>多空战术</h3>
<p>是在多空策略的战略构架下，针对短期市场情况，提示风险与机会，制定战术性的方案。</p></a>
</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div class="dkcllm_main_t">
<a href="##">
<div class="dkcllm_main_c"><img src="{$CssDir/}images/dkcllm_main_pic4.png" alt="" /></div>
<h3>多空板块掘金</h3>
<p>通过对行业景气周期的判断，结合产业上下游供需关系确定阶段性的参与机会，以便读者提升板块选择的能力。</p></a>
</div>
</div>
</div>
<!--第二行-->
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="dkcllm_main_t">
<a href="##">
<div class="dkcllm_main_c"><img src="{$CssDir/}images/dkcllm_main_pic5.png" alt="" /></div>
<h3>短线追踪池</h3>
<p>运用华尔街最前沿的拓扑分析法，锁定优质个股。同时，结合独创Smart交易体系，在确保资金安全前提下，获得稳定收益。</p></a>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="dkcllm_main_t">
<a href="##">
<div class="dkcllm_main_c"><img src="{$CssDir/}images/dkcllm_main_pic6.png" alt="" /></div>
<h3>多空精选池</h3>
<p>采用拓扑分析的方法，结合近期异动走势，参照资金流向和技术形态，以高安全边际为原则，从多只个股中精选而出。</p></a>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="dkcllm_main_t">
<a href="##">
<div class="dkcllm_main_c"><img src="{$CssDir/}images/dkcllm_main_pic7.png" alt="" /></div>
<h3>实战方法论</h3>
<p>在向投资者提供极具投资价值的“策略”同时，提供学习平台，使投资者通过系统的学习，晋身投资高手行列。</p></a>
</div>
</div>
</div>
</div>
</div>
<!--核心内容结束-->

<div class="dkcllm_midbanner">
<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 text-center">
<p>《多空策略》是CCTV证券资讯频道，打造的一档，结合多市场、多角度，以宏观策略和微观量化金融相结合的为主要特色的直播节目。节目由CCTV证券资讯频道，联合国内外专家、机构，建立强大研究团队，经由数据统计、概率分析，并结合K线量能指标、NTB交易体系，形成极具趋势指导意义的市场策略。节目中，由CCTV证券频道资深财经评论员，SMART交易体系、NTB交易体系的创建者李意坚，以独特的视角，结合多年实战经验，进行深入的分析和点评。节目播出之后，由于表现形式新颖，内容实用易懂，受到观众广泛好评。
</p>
</div>
</div>

<div class="dkcllm_dw"> 
<h2><span>栏目定位</span></h2>
<div class="container margin_top20">
<div id="dkcllm_lmdw" class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 text-center">
<p>众所周知，牛市里能够锁定盈利者不到百分之十，牛熊交替，能够稳定获利者更是不到百分之一，究其根源，就是缺乏“策略”。“在投资当中，策略远比预测重要！”</p>
<p>股市风云变幻，数以百计的经济政策、数以千计的上市公司、数以万计的投资机构、数以亿计的散户股民、数以十万亿的市场资金。</p>
<p>任何因素的变化，牵一发而动全身。《多空策略》以“策略”为核心在纷乱的信息里，厘清市场的主线。选择优质的股票、把握适当的时机、 确定合理的价格，有效地规划资金。帮助投资者把握投资致胜的关键。
《多空策略》汇集顶尖研究团队，本着“授之以鱼，且授之以渔”的理念。</p>
<p>在向投资者提供极具投资价值的“策略”同时，提供学习平台，使投资者通过学习，晋身投资高手</p>
</div>
</div>
</div>
<!--栏目定位结束-->

{ZL.Label id="全站底部"/}

</body>
</html>
<script>
//检测固顶事件
var IO=document.getElementById('home_nav'),Y=IO,H=0,IE6;
IE6=window.ActiveXObject&&!window.XMLHttpRequest;
while(Y){H+=Y.offsetTop;Y=Y.offsetParent};
if(IE6)
    IO.style.cssText="position:absolute;top:expression(this.fix?(document"+
        ".documentElement.scrollTop-(this.javascript||"+H+")):0)";
window.onscroll=function (){
    var d=document,s=Math.max(d.documentElement.scrollTop,document.body.scrollTop);
     if(s>H&&IO.fix||s<=H&&!IO.fix)return;
    if(!IE6)IO.style.position=IO.fix?"":"fixed";        
    IO.fix=!IO.fix;
};
try{document.execCommand("BackgroundImageCache",false,true)}catch(e){};

$(function () {//手机下右侧导航菜单效果
    $('button.navbar-toggle').click(function () {
        $('body').toggleClass('out');
        $('nav.navbar-fixed-top').toggleClass('out');
        if ($('body').hasClass('out')) {
            $(this).focus();
        }
        else {
            $(this).blur();
        }
    });
});
$(document).click(function (e) {
    if (!$(e.target).closest('.navbar-collapse, button.navbar-toggle').length && $('body').hasClass('out')) {
        e.preventDefault();
        $('button.navbar-toggle').trigger('click');
    }
}).keyup(function (e) {
    if (e.keyCode == 27 && $('body').hasClass('out')) {
        $('button.navbar-toggle').trigger('click');
    }
});


var buser = new B_User();//会员ajax登录状态需要结合JS/Controls/B_User.js引用同步生效
buser.IsLogged(function(data,flag){
	if(flag)
	{
		data=JSON.parse(data);
		$(".nav_user>a").html("<i class='fa fa-user'></i> "+data.UserName+" <i class='fa fa-caret-down'></i>");
        $(".nav_user .dropdown-menu li:nth-child(1)").hide();
		$(".nav_user .dropdown-menu li:nth-child(2)").hide();
        $(".nav_user .dropdown-menu li:nth-child(3)").show();
        $(".nav_user .dropdown-menu li:nth-child(4)").show();
	}else{
        $(".nav_user .dropdown-menu li:nth-child(3)").hide();
        $(".nav_user .dropdown-menu li:nth-child(4)").hide();
    }
});
function LogoutFun()
{
	buser.Logout(function(){location=location;});
}

</script>