{ZL.Source id="节点栏目信息数据源"/}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="msapplication-TileColor" content="#1A0066"/>
<meta name="msapplication-TileImage" content="/images/win8_symbol_140x140.png"/>
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteTitle/}</title>
{$MetaKeywords/}
{$MetaDescription/}
{ZL:Boot()/}
<link href="{$CssDir/}global.css?id={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js"></script>
<script src="/JS/Controls/B_User.js"></script>
</head> 
<body>
{ZL.Label id="全站头部"/}
<div class="dkcldk_banner"></div>

<div id="dkcldk_dwtoday">
<div class="container">
<h2>今日导读</h2>
<hr>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><img src="{$CssDir/}images/dkcldk_dwtoday_pic.jpg"></div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<ul >
<li><h4>全球大势</h4></li>
<li><a href="####">外围动态</a></li>
<li><a href="####">期汇聚焦</a></li>
<li><a href="####">国内热点</a></li>
</ul>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<ul >
<li><h4>异动透视</h4></li>
<li><a href="####">盘中异动</a></li>
<li><a href="####">机构追踪</a></li> 
</ul>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<ul >
<li><h4>资金揭秘</h4></li>
<li><a href="####">流向分析</a></li>
<li><br/></li>
<li><br/></li>
</ul>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<ul >
<li><h4>多空判断</h4></li>
<li><a href="####">A股局势</a></li>
<li><a href="####">K线量能</a></li>
<li><a href="####">NTB观察</a></li>
<li><a href="####">后市研判</a></li>
</ul>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<ul >
<li><h4>Winner策略</h4></li>
<li><a href="####">中期热点</a></li>
<li><a href="####">Smart Winner精选池</a></li>
<li><a href="####">NTB 指数成份股（即 NTB 持仓股票池）</a></li> 
</ul>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<ul >
<li><h4>断线狙击</h4></li>
<li><h4>多空宝典</h4></li> 
</ul>
</div>
</div>
</div>
</div>
<!--今日导读结束-->

<div id="dkcldk_gf">
<div class="container">
<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12"><img src="{$CssDir/}images/dkcldk_gf_pic.jpg"></div>
<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
<p><h2><div class="dkcldk_iconBox"></div>&nbsp;&nbsp;&nbsp;SMART 指数与大盘对比分析</h2></p>
<p>SMART 指数与大盘指数对照，是对 Smart 指数每天变动情况的解读。与大盘走势进行比较，
使读者能够更多地了解 SMART 指数，和其构成股票的走势特点，以便更好的把握 SMART 体
系的操盘思路，有利于提高自身的操盘能力和投资机会的把握能力。
</p>
<p>Smart 持仓股票池自从 2011 年 7 月 1 日正式建仓以来，已经跑赢沪指 7893.47 点。盈利也是达到244.62%</p>
</div>
</div>
</div>
<!--今日说明结束-->


<div id="dkcldk_bw">
<div class="container">
<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12"><img src="{$CssDir/}images/dkcldk_bw_pic.jpg"></div>
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
<p><h2><div class="dkcldk_iconBox"></div>&nbsp;&nbsp;&nbsp;历史案例回顾</h2></p>
<p>主要通过对行业景气周期的判断，加之对政策面、资金面的分析，结合产业上下游供需关系，挖掘中期的市场机会，捕捉可以持续的热点，确定阶性的参与机会，同时兼顾轮动中的波段品种和具备短线爆发潜力的标的。采用华尔街最前沿的拓扑式分析法，以“国际宏观—国内宏观—全局政策—产业政策—行业板块—锁定个股”的投资逻辑，结合近期异动走势，参照资金流向和技术形态，以高安全边际为原则，由研究团队，从沪深两市 2500 多只个股中精选而出。
</p>
</div>
</div>
</div>
<!--历史回顾结束-->

<div id="dkcldk_dec">
<div class="container">
<h2>资金揭秘</h2>
<hr>
<div class="row">
<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12"><img src="{$CssDir/}images/dkcldk_dec_pic.jpg"></div>
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
<p><h2><div class="dkcldk_iconBox"></div>&nbsp;&nbsp;&nbsp;实时成交分布图</h2></p>
<p>市场之所以有涨有跌，板块之所以有热有冷，个股之所以有强有弱，都是因为一个因素的影响。这个因素，就是“资金”。资金流入市场，市场就会有机会。股市、楼市、商品无不如此资金流向哪个行业，哪个行业就会景气，个股就会上涨，机会，也就相继出现。所以，找到这个影响市场最本质的因素，把脉资金流动的规律。就能甄机会和风险，起到去伪存真的作用
</p>
</div>
</div>
<div id="zjflotBox" class="row">
<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" ><img src="{$CssDir/}images/dkcldk_dec_pic2.jpg"></div>
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
<p><h2><div class="dkcldk_iconBox"></div>&nbsp;&nbsp;&nbsp;行业资金流向</h2></p>
<p>如果市场出现鲜明的热点效应时，就介入热点板块个股，最好是板块的领头羊品种，往往领头羊品种是最安全的，也是涨幅最可观的品种。追涨停个股开盘过后，个股的强弱状态比较清晰，越早上攻涨停的个股，后市弹升的
机会也越多
</p>
</div>
</div>
</div>
</div>
<!--资金揭秘结束-->


{ZL.Label id="全站底部"/}
</body>
</html>
<script>
//检测固顶事件
var IO=document.getElementById('home_nav'),Y=IO,H=0,IE6;
IE6=window.ActiveXObject&&!window.XMLHttpRequest;
while(Y){H+=Y.offsetTop;Y=Y.offsetParent};
if(IE6)
    IO.style.cssText="position:absolute;top:expression(this.fix?(document"+
        ".documentElement.scrollTop-(this.javascript||"+H+")):0)";
window.onscroll=function (){
    var d=document,s=Math.max(d.documentElement.scrollTop,document.body.scrollTop);
     if(s>H&&IO.fix||s<=H&&!IO.fix)return;
    if(!IE6)IO.style.position=IO.fix?"":"fixed";        
    IO.fix=!IO.fix;
};
try{document.execCommand("BackgroundImageCache",false,true)}catch(e){};

$(function () {//手机下右侧导航菜单效果
    $('button.navbar-toggle').click(function () {
        $('body').toggleClass('out');
        $('nav.navbar-fixed-top').toggleClass('out');
        if ($('body').hasClass('out')) {
            $(this).focus();
        }
        else {
            $(this).blur();
        }
    });
});


$(document).click(function (e) {
    if (!$(e.target).closest('.navbar-collapse, button.navbar-toggle').length && $('body').hasClass('out')) {
        e.preventDefault();
        $('button.navbar-toggle').trigger('click');
    }
}).keyup(function (e) {
    if (e.keyCode == 27 && $('body').hasClass('out')) {
        $('button.navbar-toggle').trigger('click');
    }
});



var buser = new B_User();//会员ajax登录状态需要结合JS/Controls/B_User.js引用同步生效
buser.IsLogged(function(data,flag){
	if(flag)
	{
		data=JSON.parse(data);
		$(".nav_user>a").html("<i class='fa fa-user'></i> "+data.UserName+" <i class='fa fa-caret-down'></i>");
        $(".nav_user .dropdown-menu li:nth-child(1)").hide();
		$(".nav_user .dropdown-menu li:nth-child(2)").hide();
        $(".nav_user .dropdown-menu li:nth-child(3)").show();
        $(".nav_user .dropdown-menu li:nth-child(4)").show();
	}else{
        $(".nav_user .dropdown-menu li:nth-child(3)").hide();
        $(".nav_user .dropdown-menu li:nth-child(4)").hide();
    }
});
function LogoutFun()
{
	buser.Logout(function(){location=location;});
}

</script>