{ZL.Source id="节点栏目信息数据源"/}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="msapplication-TileColor" content="#1A0066"/>
<meta name="msapplication-TileImage" content="/images/win8_symbol_140x140.png"/>
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteTitle/}</title>
{$MetaKeywords/}
{$MetaDescription/}
{ZL:Boot()/}
<link href="{$CssDir/}global.css?id={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js"></script>
<script src="/JS/Controls/B_User.js"></script>
</head> 
<body>
{ZL.Label id="全站头部"/}
<div class="cfzd_banner"></div>

<div class="cfzd_info">
<div class="container margin_top20">
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="cfzd_info_t">
<div class="cfzd_info_c"><img src="{$CssDir/}images/cfzd_home_pic1.png" alt="" /></div>
<h3>权威</h3>
<p>CTV证券资讯频道大品牌，权威发布各种资讯、投资指南、理财分析</p>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="cfzd_info_t">
<div class="cfzd_info_c"><img src="{$CssDir/}images/cfzd_home_pic2.png" alt="" /></div>
<h3>专业</h3>
<p>你开路导航 品牌保证，不做任何引导销售所有观点、内容、资讯均保持中立</p>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="cfzd_info_t">
<div class="cfzd_info_c"><img src="{$CssDir/}images/cfzd_home_pic3.png" alt="" /></div>
<h3>中立</h3>
<p>邀请全国最专业的投资牛人操盘达人，帮</p>
</div>
</div> 
</div>
</div>
</div>
<!--info结束-->

<div class="cfzd_ce">
<div class="cfzd_cebanner">
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 text-center">
<h2 >
九大品牌栏目
</h2>
<h3>"助您成为炒股达人"</h3> 
</div>
</div>
</div>
<!--ce结束-->

<div class="cfzd_lsit">
<div class="container margin_top20">
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 cfzd_list_c"><img src="{$CssDir/}images/cfzd_lsit_pic1.png" alt="" /></div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 cfzd_list_d">
<h3>操作手记</h3>
<p>全国知名亿级操盘手每日更新对市场看法交易记录、操作得失等内容为中小投资者提供实战交易技巧和观点</p>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 cfzd_list_c"><img src="{$CssDir/}images/cfzd_lsit_pic2.png" alt="" /></div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 cfzd_list_d">
<h3>炒股大赛</h3>
<p>大赛全国范围炒股大赛，实时更新投资者的交易标的、仓位情况，盈利情况，明星操盘手实时分享交易心得</p>
</div>
</div> 
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 cfzd_list_c"><img src="{$CssDir/}images/cfzd_lsit_pic3.png" alt="" /></div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 cfzd_list_d">
<h3>牛人观点</h3>
<p>每日更新股市牛人观点，以及关注的板块、个股为投资者提供牛人的独家秘笈</p>
</div>
</div> 
</div>

<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 cfzd_list_c"><img src="{$CssDir/}images/cfzd_lsit_pic4.png" alt="" /></div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 cfzd_list_d">
<h3>高手亮剑</h3>
<p>CCTV证券资讯频道独家有理论有经验、交易体系成熟</p>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 cfzd_list_c"><img src="{$CssDir/}images/cfzd_lsit_pic5.png" alt="" /></div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 cfzd_list_d">
<h3>分类投资</h3>
<p>为投资者全方位介绍从外汇市场、期权期货、贵金属</p>
</div>
</div> 
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 cfzd_list_c"><img src="{$CssDir/}images/cfzd_lsit_pic6.png" alt="" /></div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 cfzd_list_d">
<h3>投资沙龙</h3>
<p>邀请受欢迎的节目嘉宾评论员和业界知名精英开办线下沙龙分享专业人士观点，让投资者近距离接触、提问专业人士</p>
</div>
</div> 
</div>

<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 cfzd_list_c"><img src="{$CssDir/}images/cfzd_lsit_pic7.png" alt="" /></div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 cfzd_list_d">
<h3>独家快讯</h3>
<p>第一时间带来国内各个板块最新的财经投资资讯为投资者提高收益、降低风险提供信息支持</p>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 cfzd_list_c"><img src="{$CssDir/}images/cfzd_lsit_pic8.png" alt="" /></div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 cfzd_list_d">
<h3>机构研究</h3>
<p>提供机构研发报告包括关注板块、行业细分、行业龙头和潜在风险等
</p>
</div>
</div> 
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 cfzd_list_c"><img src="{$CssDir/}images/cfzd_lsit_pic9.png" alt="" /></div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 cfzd_list_d">
<h3>宏观大势</h3>
<p>深入分析国家政府出台的一系列经济政策，从宏观角度帮助投资者锁定收益</p>
</div>
</div> 
</div> 
</div>
</div> 
<!--info结束-->
<a href="{ZL:GetShopUrl(1)/}" target="_blank">
<div class="cfzd_bottom">
<div class="cfzd_banner_bottom "></div>
</div>
</a>

{ZL.Label id="全站底部"/}
</body>
</html>
<script>
//检测固顶事件
var IO=document.getElementById('home_nav'),Y=IO,H=0,IE6;
IE6=window.ActiveXObject&&!window.XMLHttpRequest;
while(Y){H+=Y.offsetTop;Y=Y.offsetParent};
if(IE6)
    IO.style.cssText="position:absolute;top:expression(this.fix?(document"+
        ".documentElement.scrollTop-(this.javascript||"+H+")):0)";
window.onscroll=function (){
    var d=document,s=Math.max(d.documentElement.scrollTop,document.body.scrollTop);
     if(s>H&&IO.fix||s<=H&&!IO.fix)return;
    if(!IE6)IO.style.position=IO.fix?"":"fixed";        
    IO.fix=!IO.fix;
};
try{document.execCommand("BackgroundImageCache",false,true)}catch(e){};

$(function () {//手机下右侧导航菜单效果
    $('button.navbar-toggle').click(function () {
        $('body').toggleClass('out');
        $('nav.navbar-fixed-top').toggleClass('out');
        if ($('body').hasClass('out')) {
            $(this).focus();
        }
        else {
            $(this).blur();
        }
    });
});
$(document).click(function (e) {
    if (!$(e.target).closest('.navbar-collapse, button.navbar-toggle').length && $('body').hasClass('out')) {
        e.preventDefault();
        $('button.navbar-toggle').trigger('click');
    }
}).keyup(function (e) {
    if (e.keyCode == 27 && $('body').hasClass('out')) {
        $('button.navbar-toggle').trigger('click');
    }
});

$("#nid{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/}").addClass("active");

var buser = new B_User();//会员ajax登录状态需要结合JS/Controls/B_User.js引用同步生效
buser.IsLogged(function(data,flag){
	if(flag)
	{
		data=JSON.parse(data);
		$(".nav_user>a").html("<i class='fa fa-user'></i> "+data.UserName+" <i class='fa fa-caret-down'></i>");
        $(".nav_user .dropdown-menu li:nth-child(1)").hide();
		$(".nav_user .dropdown-menu li:nth-child(2)").hide();
        $(".nav_user .dropdown-menu li:nth-child(3)").show();
        $(".nav_user .dropdown-menu li:nth-child(4)").show();
	}else{
        $(".nav_user .dropdown-menu li:nth-child(3)").hide();
        $(".nav_user .dropdown-menu li:nth-child(4)").hide();
    }
});
function LogoutFun()
{
	buser.Logout(function(){location=location;});
}

</script>